/* *{
    border: 1px;
    border-color: brown;
    border-style: solid;
    color: brown;
} */
html, body {
    height: 100%;
}

.container {
    height: 100%;
}

.hide{
    display: none;
}

.screen{
    margin: auto;
    padding: 5%;
}

.rounded,
.buttons,
.warmerLocation{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
} 

.form-control{
    max-width: 30%;
    min-width: 200px;
}
div.poster{
    margin: auto;
}
.img1{
    max-width: 90%;
    margin: auto;
}
.img2{
    max-width: 90%;
    margin: auto;
}

button:hover{
    background-color: rgb(106, 178, 245);
}

#buttonno:hover{
    background-color: rgb(212, 82, 82);
}

.screen-2nd,
.screen-3d
{
    display:none;
}
.modal-content{
    font-weight: bold;
    text-align: center;
    height: 40vh;
    color: red
}

.modal-content p{
    margin: auto;
}
.row.confirmation{
    margin-bottom: 2%;
}
/* .moviegenre{
    position: relative;
} */
.teaser{
    position: relative;
    overflow: hidden;
  padding-top: 56.25%;
}
.teaser iframe{
    border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}