/* *{
    border: 1px;
    border-color: brown;
    border-style: solid;
    color: brown;
} */
html, body {
    height: 100%;
    }
body{
    background-image: url('./media/seamless-pattern-with-cinema-elements/1155.jpg');
    background-size: 20%;
    background-repeat: repeat;
    padding: 2%;
    font-family: 'Francois One', sans-serif;
}
a{  
    position: absolute;
    bottom: -5vh;
    left : 5vh;
    color: black;
}
p{
    margin-top: 0;
    font-size: 15px;
}
.container {
    height: 100%;
}

.hide{
    display: none;
}

.screen{
    margin: auto;
    padding: 3%;
    background-color:rgba(255, 255, 255, 0.829);
    border-radius: 30px;
    min-height: 100%;
}

.buttons{
    text-align: center;
    margin: 2%;
}
.question{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.form-control{
    max-width: 30%;
    min-width: 200px;
}
div.poster{
    margin: auto;
}
.img1{
    max-height: 35vh;
    max-width: 90%;
    margin: auto;
}
.img2{
    max-height: 35vh;
    max-width: 90%;
    margin: auto;
}

button:hover{
    background-color: rgb(106, 178, 245);
}

#buttonno:hover{
    background-color: rgb(212, 82, 82);
}

.screen-2nd,
.screen-3d
{
    display:none;
}
.modal-content{
    font-weight: bold;
    text-align: center;
    height: 40vh;
    color: red
}
.modal-content h5{
    margin: auto;
}
.movieInfo{
    margin-bottom: 1%;
}

.overview{
    display: inline;
}
.teaser{
    max-height: 20vh;
    float: left;
    margin-top: 1%;
    margin-right: 1%;
}
.teaser iframe{
    border: 0;
}
.saved-movie{
    margin: auto;
    text-align: center;
}

div.historyTitle{
    position: relative;
    height: 8vh;
}   
.historyTitle p{
    position: absolute;
    bottom: 2px;
    width: 100%;
    margin: auto;
}

.historyImg{
    margin-bottom: 2%;
}
.historyRelise{
    padding: 0;
    margin: auto;
}
.historyRelise p{
    margin-bottom: 2%;
}
.weatherCard{
    background-color: white;
    border-radius: 10px;
    padding: 2%;
}
.weatherToday{
    margin-bottom: 2%;
}

.warmerLocation{
    text-align: center;
    margin: auto;
    width: 90%;
}
