/* *{
    border: 1px;
    border-color: brown;
    border-style: solid;
    color: brown;
} */
html, body {
    height: 100%;
}

.container {
    height: 100%;
}

.hide{
    display: none;
}

.screen{
    background-color:rgba(255, 255, 255, 0.829);
    border-radius: 30px;
    height: 90%;
    width: 100%;
    margin-top: 3.5%;
    margin-bottom: 3%;
    padding: 5%;
}

.rounded{
    margin-top: 2%;
    margin-bottom: 2%;
} 

.form-control{
    max-width: 30%;
    min-width: 200px;
}
.img1{
    width: 90%;
    max-height: 400px;
}
.img2{
    width: 90%;
    max-width: 200px;
}

button:hover{
    background-color: rgb(106, 178, 245);
}

#buttonno:hover{
    background-color: rgb(212, 82, 82);
}

.screen-2nd,
.screen-3d
{
    display:none;
}
.modal-content{
    font-weight: bold;
    text-align: center;
    height: 40vh;
    color: red
}

.modal-content p{
    margin: auto;
}